---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Announcement from "../sections/Announcement.astro";
import Shows from "../sections/Shows.astro";
import { getSettings } from "@api/queries";
import Videos from "../sections/Videos.astro";
import Merch from "../sections/Merch.astro";
import Contact from "../sections/Contact.astro";
import Footer from "../sections/Footer.astro";

const settings = await getSettings();
---

<Layout
  title="Chaosbay | Progressive Metalcore"
  primaryColor={settings[0].primaryColor.hex}
  secondaryColor={settings[0].secondaryColor.hex}
>
  <Header logo={settings[0].logo} lettering={settings[0].lettering} />
  <main class="py-16">
    <div class="max-w-3xl m-auto">
      <Announcement />
      <Shows />
      <Merch />
      <Videos />
      <Contact />
    </div>
  </main>
  <Footer />
</Layout>

<style></style>
