---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Announcement from '@components/Announcement.astro';
import Shows from '@components/Shows.astro';
import { getSettings } from '../api/queries';

const settings = await getSettings();
---

<Layout
  title="Chaosbay | Progressive Metalcore"
  primaryColor={settings[0].primaryColor.hex}
  secondaryColor={settings[0].secondaryColor.hex}
>
  <Header />
  <main class="grid justify-center py-8">
    <div class="max-w-3xl grid gap-8">
      <Announcement />
      <Shows />
    </div>
  </main>
</Layout>

<style></style>
