---
import { getAnnouncements } from '@api/queries';
import Button from './Button.astro';
import SectionHeading from './SectionHeading.astro';
import { desktopImage } from '@lib/image-url';

const announcement = (await getAnnouncements())[0];
---

<section id="announcement">
  <div class="grid md:grid-cols-2 gap-4 px-4">
    <div>
      <img src={desktopImage(announcement.image)} alt="Ecstasy" />
    </div>
    <div class="grid gap-4">
      <SectionHeading>{announcement.heading}</SectionHeading>
      <p class="text-amber-50">{announcement.text}</p>
      <Button>Announcement Link &rarr;</Button>
    </div>
  </div>
</section>
