---

---

<h1
  class="mb-8 text-5xl tracking-widest font-headline font-bold uppercase underline text-primary-color underline-offset-12 decoration-secondary-color"
>
  <slot />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</h1>
