---

---

<h1
  class="py-4 text-3xl text-primary-color uppercase font-bold underline underline-offset-12 decoration-secondary-color"
>
  <slot />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</h1>
