---
import { getShows } from '@api/queries';
import SectionHeading from './SectionHeading.astro';
import Show from './Show.astro';

console.log(await getShows());

const shows = (await getShows())[0];
---

<section id="shows">
  <div class="grid px-4">
    <SectionHeading>{shows.headline}</SectionHeading>
    <ul class="text-white w-full list-none">
      {shows.shows.map((show) => <Show {...show} />)}
    </ul>
  </div>
</section>
