---
import { getAnnouncements } from "../api/queries";
import Button from "../components/Button.astro";
import SectionHeading from "../components/SectionHeading.astro";
import { desktopImage } from "../lib/image-url";
import Section from "../components/Section.astro";

const announcement = (await getAnnouncements())[0];
---

<Section id="announcement">
  <div class="grid gap-4">
    <img src={desktopImage(announcement.image)} alt="Announcement Image" />
    <div>
      <SectionHeading>{announcement.heading}</SectionHeading>
      <p class="text-amber-50">{announcement.text}</p>
    </div>
    <div class="flex justify-end">
      <Button>Announcement Link &rarr;</Button>
    </div>
  </div>
</Section>
