---
import SectionHeading from "../components/SectionHeading.astro";
import { getMerch } from "../api/queries";
import { desktopImage } from "../lib/image-url";
import Button from "../components/Button.astro";
import Section from "../components/Section.astro";

const schema = await getMerch();
---

<Section id="merch">
  {schema.headline && <SectionHeading>Merch</SectionHeading>}
  <div class="grid md:grid-cols-[repeat(2,1fr)] gap-4">
    {
      schema.merchItems.map((item) => (
        <div>
          <img src={desktopImage(item.image)} alt={item.name} class="mb-4" />
          <Button class="w-full">
            <a href={item.link}>Shop Now</a>
          </Button>
        </div>
      ))
    }
  </div>
</Section>
