---
import { getShows } from "../api/queries";
import SectionHeading from "../components/SectionHeading.astro";
import Section from "../components/Section.astro";
import ShowList from "../components/ShowList.svelte";

const today = new Date();
const schema = await getShows();
const upcoming = schema.shows.filter((show) => new Date(show.date) >= today);
const passed = schema.shows.filter((show) => new Date(show.date) < today);
---

<Section id="shows">
  <SectionHeading>{schema.headline}</SectionHeading>
  <ShowList {upcoming} {passed} limit={schema.limit} client:only="svelte" />
</Section>
