---
import { getShows } from "../api/queries";
import SectionHeading from "../components/SectionHeading.astro";
import Section from "../components/Section.astro";
import ShowList from "../components/ShowList.svelte";

const schema = await getShows();
---

<Section id="shows">
  {schema.headline && <SectionHeading>{schema.headline}</SectionHeading>}
  <ShowList shows={schema.shows} limit={schema.limit} client:only="svelte" />
</Section>
