---
import { getVideos } from '../api/queries';
import SectionHeading from '../components/SectionHeading.astro';

const videos = (await getVideos())[0];
---

<section id="videos">
  <div class="grid px-4">
    <SectionHeading>{videos.headline}</SectionHeading>
    {
      videos.videoIds.map((id) => (
        <div class="my-4">
          <iframe
            style="width: 100%; aspect-ratio: 16/9"
            src={`https://www.youtube.com/embed/${id}`}
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          />
        </div>
      ))
    }
  </div>
</section>
