---
import { getVideos } from "../api/queries";
import SectionHeading from "../components/SectionHeading.astro";
import Section from "../components/Section.astro";

const videos = (await getVideos())[0];
---

<Section id="videos">
  <SectionHeading>{videos.headline}</SectionHeading>
  <div class="grid gap-4">
    {
      videos.videoIds.map((id) => (
        <iframe
          style="width: 100%; aspect-ratio: 16/9"
          src={`https://www.youtube.com/embed/${id}`}
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        />
      ))
    }
  </div>
</Section>
